*{
    margin: 0;
    padding: 0;
    font-family: "Bitter", serif;
    color: #0F1B61;
    background-color: #EAF5FA;
}

a{
    text-decoration: none;
}

/* NAV BAR */

header{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
}

nav{
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.menu{
    display: flex;
    margin: 15px 25px;
}

.menulink{
    padding-left: 12px;
}

.contact{
    display: flex;
    margin: 15px 25px;
}

.contactlink{
    padding-left: 12px;
}

nav a{
    color: #9C3EE7;
    font-weight: 700;
    cursor: pointer;
}

nav i{
    color: #9C3EE7;
}




/* FIRST PARA */

.first{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;

}

.contentfirst{
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contentfirst h1{
    font-weight: 342;
    font-size: 67;
}

.Sophie{
    font-weight: 769;
}
.point{
    color: #AADCEC;
    font-weight: 700;

}

.contentfirst h3{
    font-weight: 400;
    font-size: 28;
    margin-top: 30px;
}

.independent{
    font-weight: 800;
}